

.bg1, .bg2, .bg3 {
  
  opacity:1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg1 {
  background-image: url("../background/cssbackimg/back_new1.png");
  min-height: 1000px;
}

.bg2 {
  background-image: url("../background/cssbackimg/back_new2.png");
  min-height: 500px;
}

.bg3 {
  background-image: url("../background/cssbackimg/back_new3.png");
  min-height: 400px;
}





@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

 .carousel-inner img {
      width: 100%;
      height: 100%;
  }