			  	.navtext1{
					font-size:19px; font-weight:bold; color:white;
					}
				.navtext1:hover
				{
					opacity:0.8;
				}
				.navtext2{
					font-size:17px; font-weight:bold; color:white;
				}
				.dropdown-menu >  a:hover {
   background-color:rgba(192,192,192,0.3);
}
				body{
					background:black;
					}
.logo
{
width:150px;
left:50%;
top:0%;
margin-left:-75px;
position:fixed;
padding:0;
z-index:1000;
}
.sicon{
	color:grey;
	}
.sicon:hover{
	color:white;
	cursor:pointer;
	}
.sicontop{
	top:50%;
	margin-top:-75px;
	position:fixed;
	height:150px;
	}

@media screen and (max-width: 1000px) {
.logo {
height:100px;
width:150px;
z-index:1000;
margin-left:-75px;
display:none;
}

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
   	right:0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  
	
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

 ::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}