

.bg1, .bg2, .bg3 {
  
  opacity:1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg1 {
  background-image: url("../background/cssbackimg/back_new21.png");
  min-height: 1000px;
}




@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

